.overlay{
    box-sizing: border-box;
    min-height: 100dvh;
    width: 100%;
    background-image: url("../../assets/images/1_6Jp3vJWe7VFlFHZ9WhSJng.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .todoWrapper{
        margin: 4rem 0;
        padding: 2rem 4rem;
       background-color: rgb(220, 248, 255);
       border: 1px solid black;
       border-radius: 1rem;
       display: flex;
       row-gap: 1rem;
       flex-direction: column;
    }
}



